<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.transistorsoft.fetch</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>nMobile</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh_CN</string>
		<string>zh_TW</string>
	</array>
	<key>CFBundleName</key>
	<string>nMobile</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>AppleMusic permission is required for apple music usage.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Calendars usage permission is required for read calendar.</string>
	<key>NSCameraUsageDescription</key>
	<string>App will use your camera to take photos and for barcode scanning.</string>
	<key>NSContactsUsageDescription</key>
	<string>Contacts permission is required for read contacts.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>For protect your assets, please turn on Face ID to login.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location permission is required for record your location.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location permission is required for record your location.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to record your speech and send it as a message.</string>
	<key>NSMotionUsageDescription</key>
	<string>Motion permission is required for record motion data.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Granting access will allow you to take and share photos with your nMobile contacts</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>App want to access your Photo Library to send image message or set avatar</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Recognize speech</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
		<string>voip</string>
		<string>audio</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
</dict>
</plist>
