<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980911608673-jsfne43egn1j5595bh58qqiohqu09hut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980911608673-jsfne43egn1j5595bh58qqiohqu09hut</string>
	<key>API_KEY</key>
	<string>AIzaSyAi6yXWU62vUrE65e2xq-zGyzPRvCmKhGo</string>
	<key>GCM_SENDER_ID</key>
	<string>980911608673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nkn.nmobile</string>
	<key>PROJECT_ID</key>
	<string>nmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>nmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980911608673:ios:c30a977e5c3c89df5d6b20</string>
	<key>DATABASE_URL</key>
	<string>https://nmobile.firebaseio.com</string>
</dict>
</plist>